body {
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
    background-color: #f1f5f8;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-decoration: none;
    
}

.element {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bgtext {
    font-size: 50px;
}